.card {
    background: #fff;
    border-radius: 16px;
  }
  
  h5 {
    color: #333;
  }
  
  .form-label {
    font-weight: 500;
    color: #555;
  }
  
  input, select {
    height: 45px;
    border-radius: 10px !important;
  }
  
  .btn-primary {
    padding: 10px 22px;
    border-radius: 10px;
  }
  
  .btn-light {
    padding: 10px 22px;
    border-radius: 10px;
  }