:root {
  --primary: #0d2a4c;
  --text-dark: #1f2937;
  --border: #d1d5db;
  --placeholder: #9ca3af;
}

/* Fondo general */
.login-container {
  min-height: 100vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
    background-color:#10365f ;
    width: 100%;
    height: 300px;
    overflow: visible;
}

.logo {
  width: 95px;
  height: 95px;
  border-radius: 12px;
  object-fit: cover;
}

.title {
  margin-top: 12px;
  font-size: 26px;
  color: white;
  font-weight: 700;
  
}

.subtitle {
  margin-top: 4px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
}

/* Tarjeta blanca */
.card {
  position: relative;        /* Necesario para z-index */
  z-index: 10;               /* Hace que quede encima del header */
  
  width: 95%;
  max-width: 420px;
  background: #ffffff;
  border-radius: 18px;
  padding: 20px;

  /* Sombra elegante */
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);

  /* Esto hace que se monte sobre el header */
  margin-top: -50px;
}

/* Labels */
.label {
  font-size: 14px;
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

/* Inputs */
.input {
  display: flex;
  align-items: center;
  background: #f9fafb;
  border: 2px solid #d1d5db;   /* borde gris suave */
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 16px;

  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* animaci칩n */
}

/* Animaci칩n cuando el input est치 activo */
.input:focus-within {
  border-color: #2563eb; /* azul */
  box-shadow: 0 0 8px rgba(37, 99, 235, 0.4);
}
.input-icon {
  margin-right: 8px;
  font-size: 22px;
  color: var(--placeholder);
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: var(--text-dark);
}

.input input::placeholder {
  color: var(--placeholder);
}

/* opciones */
.row-options {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
  margin-bottom: 12px;
}

.remember {
  font-size: 14px;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  gap: 4px;
}

.link {
  background: none;
  border: none;
  color: var(--primary);
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

/* Bot칩n Ingresar */
.btn-primary {
  width: 100%;
  background: #10365f;
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.btn-primary:hover {
  background: #19508a ;
}

/* Footer registro */
.register {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.register button {
  margin-left: 4px;
}
