.topbar {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar input {
  width: 250px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #e0cfcf;
  border-radius: 50%;
}
